[Service]
Environment="GF_SERVER_HTTP_ADDR=127.0.0.1"
Environment="GF_SERVER_DOMAIN=__PUBLIC_HOST__"
Environment="GF_SERVER_ROOT_URL=http://__PUBLIC_HOST__/"
Environment="GF_SECURITY_ADMIN_USER=__GRAFANA_ADMIN_USER__"
Environment="GF_SECURITY_ADMIN_PASSWORD=__GRAFANA_ADMIN_PASSWORD__"
Environment="GF_USERS_ALLOW_SIGN_UP=false"
